*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    /* font-size: 15px!important; */
}
ul.file-manager-container-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 20px 20px;
    text-align: center;
    padding-bottom: 0;
}
ul.file-manager-container-grid li {
    width: 200px;
    height: 200px;
    position: unset;
    margin-bottom: 10px;
}
ul.file-manager-container-grid li:hover {
    background-color: #f8f9fa !important;
}
ul.file-manager-container-grid li:active,
ul li:focus {
    box-shadow: 3px 2px 5px grey;
}
.file-manager-container-grid .file-details {
    margin-right: 0;
    height: 100%;
}
.file-manager-container-grid .file-control {
    position: absolute;
    top: -6px;
    left: 3px;
    width: 20px;
}
.file-manager-container-grid .media-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.file-manager-container-grid .media-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.file-manager-container-grid .media-body > p {
    text-align: center;
    width: 100%;
}
.file-manager-container-grid .demo-psi-folder::before {
    font-size: 5rem;
}
.file-manager-container-grid .file-settings button {
    padding: 2px 2px;
    border: none;
    background-color: inherit;
}
.file-manager-container-grid .file-settings button:hover {
    background-color: transparent;
    border: none !important;
}
ul.file-manager-container-grid li:nth-child(odd) {
    background-color: inherit !important;
}
ul.file-manager-container-grid li:nth-child(odd):hover {
    background-color: #f8f9fa !important;
}
ul.file-manager-container-grid li:nth-child(odd):active,
ul.file-manager-container-grid li:nth-child(odd):focus {
    box-shadow: 3px 2px 5px grey;
}
.file-manager-container-grid .file-settings {
    transform: translate(-20px, 0px) !important;
}
.dropdownToggler {
    cursor: pointer;
    font-size: 13px;
    line-height: 2;
    vertical-align: middle;
    transition: all 0.25s;
    border: none !important;
    background-color: inherit !important;
}
ul .dropdown-menu-right li {
    width: auto !important;
    height: 36px !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
ul .dropdown-menu-right li > a {
    padding-left: 15px !important;
    padding-right: 7px !important;
    width: 100%;
}
ul .dropdown-menu-right li > a:hover {
    /* background-color: inherit!important; */
    color: inherit !important;
    background-color: #f8f9fa !important;
    width: 100%;
}
.position-relative {
    position: relative;
}

.progress-bar {
    padding-top: 0.313rem !important;
}
@font-face {
    font-family: "premium-line-icons";
    src: url("./fonts/premium-line-icons.eot");
    src: url("./fonts/premium-line-icons.eot") format("embedded-opentype"),
        url("./fonts/premium-line-icons.ttf") format("truetype"),
        url("./fonts/premium-line-icons.woff") format("woff"),
        url("fonts/premium-line-icons.svg?k9mp21#premium-line-icons")
            format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="pli-"],
[class*=" pli-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "premium-line-icons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pli-align-justify-all:before {
    content: "\e907";
    height: 20px !important;
    position: relative;
    top: 2px;
}
.pli-window:before {
    content: "\ecf8";
}
.pli-windows:before {
    content: "\ecf9";
}
.pli-chess-board:before {
    content: "\e9be";
    position: relative;
    top: 1px;
}
.pli-keypad:before {
    content: "\eb47";
    font-size: 2.4rem;
}
.pli-arrow-down-2:before {
    content: "\e920";
}
.downloader-container .pli-arrow-down-2:before {
    margin-right: 10px;
}
.pli-books-2:before {
    content: "\e984";
}
.text-reader {
    max-height: 80vh;
    overflow-y: auto;
    width: 600px;
}
.text-reader .line-numbers {
    max-height: 80%;
}
.image-reader {
    width: 70vw;
}

.image-reader > img {
    width: 100% !important;
}
#downloader {
    width: 35px;
    height: 35px;
    position: relative;
    font-size: 1rem;
    position: absolute;
    right: 5%;
}
.progressbar-text {
    font-size: 1.3rem !important;
    color: #222 !important;
    font-weight: bold;
}
.downloader-container {
    width: 360px;
    border-radius: 5px;
    position: fixed;
    right: 2%;
    bottom: 2%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.downloader-container .download-header {
    background-color: #323232;
    color: #fff;
    padding: 15px 20px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.downloader-container .downloader-body {
    padding: 15px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #222;
}
.downloader-container .downloader-body span {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list-group {
    overflow-x: auto;
    overflow-y: auto;
}
/* sidebar tree style */
.file-sidebar {
    width: 18vw !important;
}
.file-manager {
    min-height: 100vh !important;
}
.qu_check_all{
    overflow:hidden;
}

input[type=checkbox].qu_check_all_removed_one:checked{
    box-shadow: none!important;
    outline: none!important;
    position:relative
}
.qu_check_all_removed_one:checked::before {
    content: "";
    position: absolute;
    left: 0%;
    right:0%;
    top:0%;
    height: 100%;
    background-color: #fff !important;
    overflow: hidden;
    border-radius: 3px;
    outline: 1px solid #202124;
    /* border: 1px solid rgba(0,0,0,1); */
    transform:scale(0.9)
}
.qu_check_all_removed_one:checked::after {
    content: "";
    position: absolute;
    left: 0%;
    right:0%;
    top:0%;
    height:100%;
    background-color: #0075ff !important;
    overflow: hidden;
    transform: scale(0.6);
    z-index: 99;
}
.file-list{
   padding-bottom: 200px;
}
.relative-container{
    width:100%;
    height:100%;
}
@media screen and (max-width: 900px) {
    .file-sidebar {
        width: 22vw !important;
    }
}
@media screen and (max-width: 768px) {
    .file-sidebar {
        width: 100% !important;
    }
}
